/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * kallisto:
 *   - http://typekit.com/eulas/00000000000000007735c0b1
 *   - http://typekit.com/eulas/00000000000000007735c0b5
 *   - http://typekit.com/eulas/00000000000000007735c0ba
 *   - http://typekit.com/eulas/00000000000000007735c0c2
 *   - http://typekit.com/eulas/00000000000000007735c0c6
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-03-15 10:56:54 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=jwa3ooa&ht=tk&f=37729.37730.37731.37733.37734&a=41619172&app=typekit&e=css');

@font-face {
	font-family: 'kallisto';
	src:
		url('https://use.typekit.net/af/f9eb66/00000000000000007735c0b1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/f9eb66/00000000000000007735c0b1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
			format('woff'),
		url('https://use.typekit.net/af/f9eb66/00000000000000007735c0b1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 800;
	font-stretch: normal;
}

@font-face {
	font-family: 'kallisto';
	src:
		url('https://use.typekit.net/af/83696a/00000000000000007735c0b5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/83696a/00000000000000007735c0b5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
			format('woff'),
		url('https://use.typekit.net/af/83696a/00000000000000007735c0b5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
			format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 800;
	font-stretch: normal;
}

@font-face {
	font-family: 'kallisto';
	src:
		url('https://use.typekit.net/af/4345f0/00000000000000007735c0ba/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/4345f0/00000000000000007735c0ba/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
			format('woff'),
		url('https://use.typekit.net/af/4345f0/00000000000000007735c0ba/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 900;
	font-stretch: normal;
}

@font-face {
	font-family: 'kallisto';
	src:
		url('https://use.typekit.net/af/e6d82c/00000000000000007735c0c2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/e6d82c/00000000000000007735c0c2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
			format('woff'),
		url('https://use.typekit.net/af/e6d82c/00000000000000007735c0c2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
			format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
}

@font-face {
	font-family: 'kallisto';
	src:
		url('https://use.typekit.net/af/273def/00000000000000007735c0c6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
			format('woff2'),
		url('https://use.typekit.net/af/273def/00000000000000007735c0c6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
			format('woff'),
		url('https://use.typekit.net/af/273def/00000000000000007735c0c6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
			format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 300;
	font-stretch: normal;
}

.tk-kallisto {
	font-family: 'kallisto', sans-serif;
}
